.header {
  height: 100rem;
  clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
  position: relative;
  display: flex;
  justify-content: center;
  padding: 25rem 0;

  @include respond(tab-land) {
    clip-path: none;
  }
  @include respond(tab-port) {
    clip-path: none;
  }
  @include respond(phone) {
    width: 100%;
  }

  &__text {
    @include absCenter;
    text-align: center;

    @include respond(phone) {
      width: 100%;
    }
  }
}

#header__typewriter {
  height: 10rem;
  width: 75%;
  font-size: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2rem;
  }
}
