.header {
  height: 100rem;
  clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);

  position: relative;
  overflow: hidden;

  @include respond(tab-port) {
    height: 80rem;
  }

  @include respond(phone) {
    height: 60rem;

    overflow: visible;
  }

  &__text {
    @include absCenter;
    text-align: center;
  }
}
