.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    padding: 1.5rem 3rem;
    border-radius: 5rem;
    text-transform: uppercase;
    text-decoration: none;
    font-size: $default-font-size;
    letter-spacing: 2px;
    transition: all 0.4s;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }

  &:active,
  &:focus {
    transform: translateY(-1px);
  }

  &--white {
    background-color: #fff;
    color: $color-grey-9;
  }

  &--primary-0 {
    background-color: $color-primary-0;
    color: $color-grey-7;

    &:hover {
      background-color: $color-white;
      color: $color-grey-9;
    }
  }

  &--primary-3 {
    background-color: $color-primary-3;
    color: $color-white;
  }

  &--primary-8 {
    background-color: $color-primary-8;
    color: $color-grey-1;

    &:hover {
      background-color: $color-primary-9;
      color: $color-white;
    }
  }

  &--animated {
    animation: moveInBottom 1s ease-out 0.8s;
    animation-fill-mode: backwards;
  }

  &--shadow {
    box-shadow: 5px 5px 10px $color-grey-6;
  }

  &--border {
    border: 1px solid #000 !important;
  }
}

.btn-text {
  &:link,
  &:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: $default-font-size;
    letter-spacing: 2px;
    color: $color-grey-9;
    border-bottom: 1px solid $color-white;
    padding: 6px 6px;
    transition: all 0.4s;
    border-radius: 0;
  }

  &:hover {
    // background-color: $color-primary-3;
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    color: $color-grey-8;
    border-bottom: 1px solid $color-grey-8;
  }

  &:active,
  &:focus {
    transform: translateY(0);
  }
}
