.section-skills {
  background-color: $color-grey-0;
  padding: 25rem 0;
  margin-top: -35rem;

  clip-path: polygon(50% 10rem, 100% 0, 100% 90rem, 50% 100rem, 0 90rem, 0 0);
  @include respond(tab-land) {
    clip-path: none;
  }
  @include respond(tab-port) {
    clip-path: none;
  }
  @include respond(phone) {
    clip-path: none;
  }
}

.section-projects {
  padding: 25rem 0;

  text-align: center;
  position: relative;

  @include respond(tab-land) {
    clip-path: none;
  }
  @include respond(tab-port) {
    clip-path: none;
  }
  @include respond(phone) {
    clip-path: none;
  }
}

.section-testimonials {
  background-color: $color-grey-0;
  padding: 25rem 0;

  clip-path: polygon(50% 10rem, 100% 0, 100% 90rem, 50% 100%, 0 90rem, 0 0);

  position: relative;

  @include respond(tab-land) {
    clip-path: none;
  }
  @include respond(tab-port) {
    clip-path: none;
  }
  @include respond(phone) {
    clip-path: none;
  }
}

.section-contact {
  padding: 25rem 0;

  clip-path: polygon(50% 10rem, 100% 0, 100% 90rem, 50% 100%, 0 90rem, 0 0);

  @include respond(tab-land) {
    clip-path: none;
  }
  @include respond(tab-port) {
    clip-path: none;
  }
  @include respond(phone) {
    clip-path: none;
  }

  @include respond(big-desktop) {
    clip-path: none;
  }
}
